extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/img/logo.png', width='160')
		h1 Dobrodošli!
		p Ovo je  <a href='http://www.komunalac-kc.hr' target='_blank'>Tržnica KC Online</a> službeno admin sučelje .
		p Na jednom mjestu imate kontrolu nad cijelom ponudom, korisnicima i proizvodima.
		p Ukoliko se želite ukljućiti u program Tržnice KC, javite nam se na
			a(href='mailto:info@komunalac-kc.hr', style='margin-right: 10px').btn.btn-lg info@komunalac-kc.hr
		hr

		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Otvori Admin sučelje
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Prijava
				|  na Amin sučelje.

		hr
		//p Author <a href='https://ivanorehovec.info' target='_blank'>Ivan Orehovec</a>
